<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>WebQuestionPaperGenerator</display-name>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LoginUser</display-name>
		<servlet-name>LoginUser</servlet-name>
		<servlet-class>com.swati.qpaper.LoginUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginUser</servlet-name>
		<url-pattern>/LoginUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegisterUser</display-name>
		<servlet-name>RegisterUser</servlet-name>
		<servlet-class>com.swati.qpaper.RegisterUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUser</servlet-name>
		<url-pattern>/RegisterUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginAdmin</display-name>
		<servlet-name>LoginAdmin</servlet-name>
		<servlet-class>com.swati.qpaper.LoginAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginAdmin</servlet-name>
		<url-pattern>/LoginAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>loginForm</display-name>
		<servlet-name>loginForm</servlet-name>
		<servlet-class>com.swati.qpaper.loginForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginForm</servlet-name>
		<url-pattern>/loginForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.swati.qpaper.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdLogin</display-name>
		<servlet-name>AdLogin</servlet-name>
		<servlet-class>com.swati.qpaper.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdLogin</servlet-name>
		<url-pattern>/AdLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddQuestion</display-name>
		<servlet-name>AddQuestion</servlet-name>
		<servlet-class>com.swati.qpaper.AddQuestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddQuestion</servlet-name>
		<url-pattern>/AddQuestion</url-pattern>
	</servlet-mapping>
</web-app>